<header class="npc-sheet-header">
    <div class="name flexrow bottom-separator">
        <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF2E.CharacterNamePlaceholder"}}" spellcheck="false" />
        <label class="level-label">{{localize "PF2E.NPC.Creature"}}</label>
        {{#with data.details.level as |level|}}
            <input class="level adjustable{{#if level.adjustedHigher}} adjusted-higher{{else if level.adjustedLower}} adjusted-lower{{/if}}" type="text" data-property="data.details.level.value" value="{{level.value}}" placeholder="1" data-dtype="Number" />
        {{/with}}
    </div>
    <div class="flexrow" style="justify-content: space-between; width: 100%;">
        <div class="flexrow" style="flex: auto;">
            {{!-- TRAITS --}}
            <select class="rarity-select traits-list-item rarity {{data.traits.rarity}}" name="data.traits.rarity" data-dtype="String">
                {{#select data.traits.rarity}}
                    {{#each rarity as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select class="alignment-select traits-list-item alignment" name="data.details.alignment.value" data-dtype="String">
                {{#select data.details.alignment.value}}
                    {{#each alignments as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select class="size-select traits-list-item size" name="data.traits.size.value" data-dtype="String">
                {{#select data.traits.size.value}}
                    {{#each actorSizes as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{#if options.editable}}
            <div class="adjustment-select flexrow" style="flex: auto; justify-content: flex-end;">
                <div class="adjustment elite trait {{#if isElite}}active{{/if}}">
                    <a class="npc-elite-adjustment">{{localize "PF2E.NPC.Adjustment.EliteLabel"}}</a>
                </div>
                <div class="adjustment weak trait {{#if isWeak}}active{{/if}}">
                    <a class="npc-weak-adjustment">{{localize "PF2E.NPC.Adjustment.WeakLabel"}}</a>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="flexrow">
        {{#each traits as |trait slug|}}
            <div class="traits-list-item trait {{slug}}">{{localize trait.label}}</div>
        {{/each}}
        {{#if options.editable}}
            <div class="trait-controls" style="flex: 0 0 32px;">
                <a class="trait-edit" data-trait-selector="basic" data-config-types="monsterTraits" data-property="data.traits.traits" title="{{localize "PF2E.NPC.EditTraits"}}"><i class="fas fa-edit"></i></a>
            </div>
        {{/if}}
    </div>
    <div class="flexrow">
        <input name="data.details.blurb" type="text" value="{{data.details.blurb}}" />
    </div>
</header>
