&.inventory {
    height: calc(100% - 40px);

    .wealth {
        display: flex;
        margin-bottom: 10px;

        .wealth-label {
            padding: 0;
        }

        h3.item-name {
            flex-grow: 1;
            line-height: 1;
            color: white;
            margin-bottom: 0;
            font-weight: bold;
            margin: 0 5px;
            margin-left: 5px;

            span {
                margin-left: 5px;
                font-size: 12px;
                font-weight: normal;
                text-transform: uppercase;
            }

            .sell-all-treasure {
                height: 100%;
                button {
                    @include flex-center;
                    @include p-reset;
                    line-height: 1;
                    color: rgba(black, 0.75);
                    background-color: var(--tertiary);
                    border: none;
                    padding: 3px 8px;
                    margin-top: 1px;
                    border-radius: 1px;
                    box-shadow: 0 0 0 1px rgba(black, 0.25),
                        inset 0 0 0 1px rgba(white, 0.25), 0 0 3px rgba(black, 0.5);

                    &:hover {
                        background-color: var(--primary);
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .sell-all-treasure {
                margin: 0 1px 0px 5px;
                button {
                    font-size: 11px;
                    padding: 5px 6px 6px 10px;
                }
            }

        }

        ol {
            padding-right: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            margin-right: 0;
        };
    }

    .item-invested-total {
        flex: none;
    }

    .item-sell-value {
        flex: 0 0 64px;
        justify-content: flex-end;
        padding-right: 3px;
    }

    .item-controls {
        flex: 0 0 100px;
        justify-content: flex-end;

        .item-control {
            &.item-toggle-invest,
            &.item-toggle-equip,
            &.item-carry-type {
                &.active {
                    color: var(--secondary);
                }
            }

            &.item-carry-type {
                color: rgba(black, 0.5);
                text-align: right;
            }

            &.item-toggle-invest {
                color: rgba(black, 0.5);
                i {
                    font-family: "Noto Sans JP", sans-serif;
                    font-size: 16px;
                    position: relative;
                    top: -4px;
                }
            }
        }
    }

    .item-summary {
        flex: 100%;
        padding: 4px;
        border-top: 1px solid var(--alt);
        border-bottom: 1px solid var(--alt);
        background: var(--bg);
        display: grid;
        grid:
            'content btn' min-content
            'tags btn' min-content
            / 1fr min-content;
        column-gap: 8px;
        align-items: center;
        padding: 4px 8px 8px;

        .item-description {
            grid-area: content;
            margin-bottom: 4px;
        }

        .item-properties {
            grid-area: tags;
            align-self: start;
        }

        .item-buttons {
            grid-area: btn;
            display: flex;
            flex-wrap: wrap;
            margin-right: 2px;
            button {
                margin: 0;
                border: none;
                cursor: pointer;
                @include micro;
                padding: 5px 4px;
                color: white;
                width: 70px;
                @include button;
                margin-top: 4px;
                background: var(--primary);
                border-radius: 2px;
                flex: 1;

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px white;
                }
            }

            .weapon {
                &_attack {
                    background: var(--primary);
                }
                &_attack2,
                &_attack3 {
                    color: rgba(black, 0.75);
                    background: var(--tertiary);
                    flex: 0 50%;
                    margin-top: 0;
                }
                &_attack2 {
                    border-radius: 0 0 0 2px;
                }
                &_attack3 {
                    border-radius: 0 0 2px 0;
                }
            }
        }
    }

    .inventory-list {
        align-items: center;
        justify-content: flex-start;
        position: relative;
        overflow-y: scroll;
        height: calc(100% - 60px);

        ol.item-list {
            li.item {
                &.temporary-item {
                    background-color: #0005ff1d;
                }
            }

            .container-capacity {
                @include micro;
                position: relative;
                background-color: rgba(black, 0.75);
                box-shadow: inset 0 0 4px black;
                color: white;
                display: flex;
                width: 100%;
                .container-capacity-bar {
                    background-color: var(--secondary);
                    border-radius: 0 2px 2px 0;
                    box-shadow: inset 0 0 0 1px rgba(black, 0.5),
                        inset 0 0 0 2px rgba(white, 0.1);
                    padding: 6px 0;
                }
                .container-capacity-label {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 2px;
                }
            }

            .container-held-items {
                margin-left: 10px;

                li:nth-of-type(even) {
                    background-color: rgba($alt-color, 0.1);
                }

                li:first-of-type::before {
                    height: 50%;
                    top: 0;
                }

                li:last-of-type::after {
                    border: none;
                }

                .item {
                    position: relative;

                    &::before,
                    &::after {
                        position: absolute;
                        border-left: 1px solid var(--alt);
                        top: 0;
                        height: 50%;
                        left: -5px;
                        width: 5px;
                        content: '';
                    }

                    &::before {
                        border-bottom: 1px solid var(--alt);
                        top: 0;
                    }

                    &::after {
                        top: 50%;
                    }

                    .item-summary {
                        border-left: 1px solid var(--alt);
                    }
                }
            }
        }
    }

    .currency, .wealth {
        margin: 0 0.5rem auto;
    }

    .wealth {
        margin-bottom: 0.5rem;
    }

    .encumbrance {
        align-items: center;
        display: grid;
        grid:
            'img bar overflow' min-content
            / 24px 1fr;
        margin: auto;

        img {
            grid-area: img;
            @include frame-icon;
            border-radius: 0;
            position: relative;
            z-index: 4;
        }
        .encumbrance-bar {
            position: relative;
            z-index: 2;
            grid-area: bar;
            height: 16px;
            width: 100%;
            background-color: var(--secondary);
            box-shadow: inset 0 0 0 1px rgba(black, 0.5),
                inset 0 0 0 2px rgba(white, 0.2);
        }
        .encumbrance-label {
            position: relative;
            z-index: 3;
            grid-area: bar;
            color: white;
            font-family: var(--serif);
            font-size: 12px;
            font-weight: 500;
            padding: 0 8px;
            padding-top: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-shadow: 0 0 2px black;
        }
        .encumbrance-light-bulk-overflow {
            position: relative;
            z-index: 3;
            grid-area: overflow;
            color: black;
            font-family: var(--serif);
            font-size: 12px;
            font-weight: 500;
            padding: 0 8px;
            padding-top: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-shadow: 0 0 2px white;
        }
        .bar-bg {
            position: relative;
            z-index: 1;
            grid-area: bar;
            width: 100%;
            height: 16px;
            background-color: rgba(black, 0.5);
            border-radius: 0 2px 2px 0;
            box-shadow: inset 0 0 4px rgba(black, 0.75);
        }

        &.over-limit {
            .encumbrance-bar {
                background-color: var(--primary) !important;
            }
        }
    }
}
