<div class="sidebar_title">
    <h2>{{localize "PF2E.ResistancesLabel"}}</h2>
</div>

<ol class="resistances tags">
    {{#each data.traits.dr as |resistance|}}
        <li class="tag tag_secondary {{resistance.type}}">{{localize resistance.label}}</li>
    {{/each}}
    {{#if editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="resistances">
                {{> systems/pf2e/templates/actors/character/icons/plus.html}}
            </a>
        </li>
    {{/if}}
</ol>

<div class="sidebar_title">
    <h2>{{localize "PF2E.WeaknessesLabel"}}</h2>
</div>

<ol class="weaknesses tags">
    {{#each data.traits.dv as |weakness|}}
        <li class="tag tag_secondary {{weakness.type}}">{{localize weakness.label}}</li>
    {{/each}}
    {{#if editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="weaknesses">
                {{> systems/pf2e/templates/actors/character/icons/plus.html}}
            </a>
        </li>
    {{/if}}
</ol>

<div class="sidebar_title">
    <h2>{{localize "PF2E.ImmunitiesLabel"}}</h2>
</div>

<ol class="immunities tags">
    {{#each immunities as |immunity type|}}
        <li class="tag tag_secondary {{type}}">{{localize immunity.label}}</li>
    {{/each}}
    {{#if editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="basic" data-title="PF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di">
                {{> systems/pf2e/templates/actors/character/icons/plus.html}}
            </a>
        </li>
    {{/if}}
</ol>
